<header></header>
<div class="login-container" fxLayout fxLayoutAlign="center center">
<div class="spinner-div">
  <mat-spinner *ngIf="loadingState" fxLayout fxLayoutAlign = "center center" style="margin:0 auto;"
  mode="indeterminate"></mat-spinner>
</div>
  <section *ngIf="!loadingState" class="login-homepage" fxLayout fxLayoutAlign = "center">
    <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)">
    <h1>Login</h1>
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>Enter your email</mat-label>
      <input
      type="email"
      matInput
      placeholder="Your Email"
      ngModel
      name="email"
      email
      #emailInput="ngModel"
      required>
    </mat-form-field>
    <mat-error *ngIf="!emailInput.valid && (emailInput.dirty && emailInput.touched)">Invalid email</mat-error>
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>Password</mat-label>
      <input #password1 type="password" matInput ngModel name="password" required minlength="6" #pwInput1="ngModel">
    </mat-form-field>
    <mat-error *ngIf="pwInput1.errors?.minlength">Password must be atleast 6 characters long</mat-error>
    <button  fxLayout fxLayoutAlign="center center" type="submit" mat-button [disabled]="!f.valid"><h2>Login</h2></button>
    <a [routerLink]="['/signup']"><h3>Create Account</h3></a>
    <h4>Forgot your password?</h4>
  </form>
  </section>
</div>
