<h1>Your Farms</h1>
<div class="underline"></div>
<div *ngIf="!showOverlay" class="farm-card-list" fxLayout fxLayoutGap="21px">
  <mat-card *ngFor="let farm of farms$ | async" class="farm-card" fxLayout="column" fxLayoutAlign="space-between center">
    <div class="image-container" fxLayout="column" fxLayoutAlign="center center">
      <img mat-card-image src="assets/images/farm-card-icon.png" id="farm-icon" >
    </div>
    <mat-card-content>
      <div class="farm-name-container">
        <p>
          {{ farm.name }}
        </p>
      </div>
      <button id="view-farm" mat-raised-button color="primary" (click)="onViewFarm(farm)">
        VIEW
    </button>
      <button id="delete-farm"  mat-mini-fab color="warn">
        <mat-icon class="add-course-btn" (click)="onDeleteFarm(farm)">delete</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="create-farm-card" fxLayout="column" fxLayoutAlign="center center" >
    <mat-card-actions class="create-farm-actions">
      <button mat-flat-button id="create-farm-button" (click)="onCreateFarm()">
        <mat-icon class="add">add</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-content>
      <p>
        Create a Farm
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="spinner-div" *ngIf="showOverlay" fxLayout="column" fxLayoutAlign = "center center" >
  <h1>Loading your farm....</h1>
  <mat-spinner  style="margin:0 auto;"
  mode="indeterminate"></mat-spinner>
</div>
