<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <h1>{{farmName}}</h1>
    <app-polygon-list
      (polygonSelected)="selectedPolygon = $event"
      (polygonChanged)="reload()"
      (polygonDeleted)="selectedPolygon = null"
      [polygons]="polygons$ | async">
    </app-polygon-list>
  </mat-drawer>
  <mat-drawer-content><app-map></app-map></mat-drawer-content>
</mat-drawer-container>
<div class="paddock-details-div">
  <app-paddock-details
      *ngIf="selectedPolygon; else infoText"
      [polygon]="selectedPolygon"></app-paddock-details>
    <ng-template #infoText>
      <h1>Please select a Paddock to show it's details !</h1>
    </ng-template>
</div> -->



<div class="app-container" fxLayout fxLayoutAlign="center center">
  <mat-drawer-container class="drawer-container" >
    <mat-drawer mode="side" opened style="position: absolute;">
      <h1>F . I . N</h1>
      <div class="header-underline"> </div>
      <mat-list role="list">
        <mat-list-item role="listitem"> <mat-icon class="add">add</mat-icon> <a (click)="onNavigateHome()" [routerLink]="['/app']">Home</a></mat-list-item>
        </mat-list>
    </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="min-height:64px" fxLayout fxLayoutAlign="space-between center">
      <div class="farm-toolbar-text" >
        {{ farmName }}
      </div>
      <button mat-button (click)="onLogout()"><mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon></button>
    </mat-toolbar>
    <div class=drawer-content-tabs>
      <mat-tab-group>
        <mat-tab label="Paddocks"><app-map></app-map></mat-tab>
        <mat-tab label="History"> Content 2 </mat-tab>
        <mat-tab label="Dashboard"> Content 3 </mat-tab>
        <mat-tab label="Notes"> Content 3 </mat-tab>
        <mat-tab label="Details"> Content 3 </mat-tab>
        <mat-tab label="HarvestPlanner"> Content 3 </mat-tab>
      </mat-tab-group>

    </div>
  </mat-drawer-content>
  </mat-drawer-container>
</div>
