<div class="farm-dialog" fxLayout="column" fxLayoutAlign="center center">
      <h1>Name your Farm</h1>
      <mat-form-field appearance="fill">
        <mat-label>Name your farm</mat-label>
        <input
        matInput
        required
        #farmName
        (keyup)="validation(farmName.value)"
        [(ngModel)]="farmNameC" >
      </mat-form-field>
      <mat-error *ngIf="duplicateFound">A farm already exists with that name</mat-error>
      <mat-form-field appearance="fill">
      <input
      matInput
      required
      class="input"
      placeholder="Enter Farm Region"
      type="text"
      [(ngModel)]="autocompleteInput"
      #addresstext
      (keyup)="validationRegion()"
      >
    </mat-form-field>
    <mat-error *ngIf="!validRegion && addresstext.value">Please enter a valid region for your farm</mat-error>

    <div class="mat-dialog-actions">
      <button id="cancel-create" mat-button [mat-dialog-close]="false">C A N C E L</button>
      <button id="create-farm" mat-button [disabled]="duplicateFound || !farmName.value || !validRegion" (click)="onClose(farmName.value)">Create Farm</button>
    </div>

</div>
