<div class="farm-dialog" fxLayout fxLayoutAlign="center center">
  <ol>
    <li>
      <h1>Name your Farm</h1>
      <mat-form-field appearance="fill">
        <mat-label>Name your farm</mat-label>
        <input
        matInput
        required
        #farmName
        (keyup)="validation(farmName.value)"
        [(ngModel)]="farmNameC" >
      </mat-form-field>
      <mat-error *ngIf="duplicateFound">A farm already exists with that name</mat-error>
    </li>
    <li>
      <h2>Chose your region</h2>
      <mat-form-field appearance="fill">
      <mat-label>Enter farm region</mat-label>
      <input
      matInput
      required
      class="input"
      type="text"
      [(ngModel)]="autocompleteInput"
      #addresstext
      (keyup)="validationRegion()"
      >
    </mat-form-field>
    <mat-error *ngIf="!validRegion">Please enter a valid region for your farm</mat-error>
    </li>
    <div mat-dialog-actions>
      <button mat-button [disabled]="duplicateFound || !farmName.value || !validRegion" (click)="onClose(farmName.value)">Create Farm</button>
      <button mat-button [mat-dialog-close]="false">Cancel</button>
    </div>
  </ol>
</div>
