
<div class="app-container" fxLayout fxLayoutAlign="center center">
  <mat-drawer-container class="drawer-container" >
    <mat-drawer mode="side" opened>
      <h1>F . I . N</h1>
      <div class="header-underline"> </div>
      <mat-list role="list">
      <mat-list-item role="listitem"> <mat-icon class="add">add</mat-icon> <a (click)="onNavigateHome()" [routerLink]="['/app']">Home</a></mat-list-item>
      </mat-list>
    </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="min-height:64px" fxLayout fxLayoutAlign="space-between center">
      <div class="farm-toolbar-text" >
        Farms
      </div>
      <button mat-button (click)="onLogout()"><mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon></button>
    </mat-toolbar>
    <div class=drawer-content>
      <app-create-farm></app-create-farm>
    </div>
  </mat-drawer-content>
  </mat-drawer-container>
</div>

