h1 {
  text-decoration: underline;
}
mat-drawer {
  width: 20vw;
  border: 1px solid black;
}

.paddock-details-div {
  margin-left: 20vw;
  width: 100vw;
  height: 25vh;
  border: 1px solid black;
}
