h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 80px;
  /* or 267% */

  display: flex;
  align-items: center;
  letter-spacing: -1px;

  color: #FFFFFF;
  margin-left: 16px;
}

.drawer-container {
  width: 1440px;
  height: 900px;
}

mat-drawer {
  width: 12%;
  background-color:#1E4354
}

mat-drawer-content{
  width: 88%;
  background-color: #F6F8F9;;
}

.drawer-content{
  margin-left: 23px;
}

.header-underline{
  position: absolute;
  top: 64px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
}

mat-toolbar{
  background: #FFFFFF;
  /* elevation/4 */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 36px;
}

.farm-toolbar-text{
  width: 145px;
  height: 36px;
  margin-left: 16px;
  background: #3F51B5;
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px;
  /* identical to box height, or 257% */

  letter-spacing: 1.25px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
}

mat-list {
  margin-top: -25px;
}

mat-list a {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.5px;
color: #CBD4DB;
text-decoration: none;
}

mat-list a:hover {
text-decoration: underline white;
}


.add {
  color: #CBD4DB;
  margin-right: 32px;
}

