<mat-list id="poly-mat-list">
  <mat-list-item *ngFor="let polygon of polygons; let i = index" >
    <div *ngIf="polygon.paddockType == 'Crop'" id="crop" class="vertical-line" ></div>
    <div *ngIf="polygon.paddockType == 'Pasture'" id="pasture" class="vertical-line" ></div>
    <div *ngIf="polygon.paddockType == 'Orchard'" id="orchard" class="vertical-line" ></div>
    <div *ngIf="polygon.paddockType == 'Other'" id="other" class="vertical-line" ></div>
    <div class="container">
      <div class="row-one" >
        <h1 (click)="onPolyClick(polygon)"> {{polygon.name}}</h1>
        <a (click)="onClearPolygonAndPaddockDetails(polygon, paddocks[i])">edit</a>
      </div>
      <div class="row-two" *ngIf="(paddocks$  |async)">
        <ul>
          <li>{{polygon.paddockType}}: <span class="li-span"> {{polygon.paddockFillType}}</span></li>
          <li>Area: <span class="li-span"> {{ polygon.polyArea.toFixed(2)}} Ha </span></li>
          <li>Soil Moisture: <span class="li-span"> {{paddocks[i].soilData[1]}} m<sup>3</sup> &#8725; m<sup>3</sup> </span> </li>
          <li *ngIf="polygon.paddockType != 'Pasture'">Soil temperature: <span class="li-span"> {{paddocks[i].soilData[2]}} &deg;C </span></li>
          <li>Local temperature: <span class="li-span"> {{paddocks[i].weatherData[0]}} &deg;C</span> </li>
          <li *ngIf="polygon.paddockType == 'Pasture' && polygon.cattleCount[0] > 0">Average NVDI Index: <span class="li-span"> {{paddocks[i].nvdiData[0].toFixed(2)}}</span> </li>
          <li *ngIf="polygon.paddockType == 'Pasture' && polygon.cattleCount[1] > 0">Bull count: <span class="li-span"> {{polygon.cattleCount[0]}}</span> </li>
          <li *ngIf="polygon.paddockType == 'Pasture' && polygon.cattleCount[2] > 0">Calf count: <span class="li-span" > {{polygon.cattleCount[1]}}</span> </li>
          <li *ngIf="polygon.paddockType == 'Pasture'">Heffa count: <span class="li-span"> {{polygon.cattleCount[2]}}</span> </li>
          <li id="healthy" *ngIf="polygon.paddockType != 'Pasture' && paddocks[i].healthStatus == 'healthy'">Crop Health: <span class="healthy-span">{{paddocks[i].healthStatus}}</span></li>
          <li id="unhealthy" *ngIf="polygon.paddockType != 'Pasture' && paddocks[i].healthStatus != 'healthy'">Crop Health: <span class="unhealthy-span">{{paddocks[i].healthStatus}}</span></li>
        </ul>
      </div>
    </div>
    <div class="row-three">
      <mat-divider id="header-divider" style="width: 227px;"></mat-divider>
    </div>
  </mat-list-item>
</mat-list>
