<!-- <mat-selection-list #polygons_ [multiple]="false">
  <mat-list-option *ngFor="let polygon of polygons" [value]="polygon">
    <div style="display:flex; justify-content:space-between;align-items:center">
    <button (click)="onPolyClick(polygon)">{{polygon.name}}</button>
    <div>
      <button mat-icon-button>
        <mat-icon (click)="onClearPolygon(polygon)">clear</mat-icon>
      </button>
    </div>
  </div>
  </mat-list-option>
</mat-selection-list> -->

    <!-- <div class="paddocks" fxLayout="row" fxLayoutAlign="center"  *ngFor="let polygon of polygons">
      <div class="vertical-line" ></div>
      <div class="paddock-content">
        <h1> {{polygon.name}}</h1>
        <ul>
          <li><h2>Paddock type:</h2></li>
            <li><h2>Content:</h2></li>
            <li><h2>Size:</h2></li>
            <li><h2>Soil moisture:</h2></li>
            <li><h2>Soil temperature:</h2></li>
            <li><h2>Local temperature:</h2></li>
            <li><h2>Crop health:</h2></li>
        </ul>
      </div>
      <div class="paddock-actions">
        <a id="edit-polygon">edit</a>
      </div>
      <mat-divider id="paddock-divider" style="width: 227px; position: absolute;"></mat-divider>
    </div> -->

<mat-list id="poly-mat-list">
  <mat-list-item *ngFor="let polygon of polygons; let i = index" >
    <div class="vertical-line" ></div>
    <div class="container" >
      <div class="row-one" >
        <h1> {{polygon.name}}</h1>
        <a>edit </a>
      </div>
      <div class="row-two" *ngIf="(paddocks$  |async)">
        <ul>
          <li>Type</li>
          <li>Area</li>
          <li>Soil Moisture: {{paddocks[i].soilData[1]}} m<sup>3</sup> &#8725; m<sup>3</sup>  </li>
          <li>Soil temperature: {{paddocks[i].soilData[2]}} &#8451;</li>
          <li>Local temperature: {{paddocks[i].weatherData[0]}} &#8451; </li>
          <li>Crop Health</li>
        </ul>
      </div>
    </div>
    <div class="row-three">
      <mat-divider id="header-divider" style="width: 227px;"></mat-divider>
    </div>
  </mat-list-item>
</mat-list>
