<header></header>
<div class="reset-password-container" fxLayout fxLayoutAlign="center center">
  <section class="password-reset" fxLayout fxLayoutAlign = "center">
    <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)">
    <h1>Reset Password</h1>
    <mat-form-field [hideRequiredMarker]="true">
      <mat-label>Enter your email</mat-label>
      <input
      type="email"
      matInput
      placeholder="Your Email"
      ngModel
      name="email"
      email
      #emailInput="ngModel"
      required>
    </mat-form-field>
    <mat-error *ngIf="!emailInput.valid && (emailInput.dirty && emailInput.touched)">Invalid email</mat-error>
    <button  fxLayout fxLayoutAlign="center center" type="submit" mat-button [disabled]="!f.valid"><h2>Reset Password</h2></button>
    <a [routerLink]="['/']"><h4>Return to login</h4></a>
  </form>
  </section>
</div>
