  <div class="content">
    <div class="paddock-list" fxLayout="column" fxLayoutAlign="center center" fxFlex="23">
      <div class="panel-header" fxLayout="column" fxLayoutAlign="center center"  fxFlex="11">
        <h1>Paddocks</h1>
        <button id="home-region" mat-button (click)="onNavigateHome()"><mat-icon>home</mat-icon></button>
        <button *ngIf="!drawState" mat-button id="draw-paddock" (click)="drawPolygon()">Create Paddock</button>
        <button *ngIf="drawState" mat-button id="cancel-drawing" (click)="finishPolygon()">Cancel Drawing</button>
        <mat-divider id="header-divider" style="width: 227px;"></mat-divider>
      </div>
        <app-polygon-list [polygons]="polygons$ | async" fxFlex style="overflow-y: scroll; width:100%"></app-polygon-list>
    </div>
    <div class="map-container" fxFlex>
      <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search For Farm Location"
      ngModel
      #pacinput
      name="pacinput"
    />
    <div class="map-screen" id="map" ngModel #map></div>
    </div>
  </div>
